.navbar-brand{
    white-space:nowrap;
}

#defaults{
    .row{
       margin-bottom:10px;
    }
    input{
        width:100%;
        margin-top:10px;
    }
    
}
.commands{
        float:left;
        margin-right:15px;
        margin-top:-2px;
}
.xfControl{
    display:block;
    
    .widgetContainer{
        display:block;    
    }
    
    .xfValue{
        width:100%;
    }
    label{
        margin-top:10px;
        margin-bottom:0;
    }
}
#addZone{
    .xfValue{
        color:#333;
    }
    label{
        margin-left:5px;
    }
    .xfSelectorItem{
        padding:10px;
    }
}
